.navbar{
    background: rgba(0, 0, 0, 0.4);
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
}
.navbar-left{
    flex:3;
    .nav-title{
        font-weight: 800;
    }
}
.navbar-right{
    flex:1;
    .nav-items{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
        .nav-item{
            text-decoration: none;
            font-weight: 700;
        }
    }
}